<div class="panel panel-primary">
  <div class="panel-heading">Negotiation Area</div>

  <div class="panel-body">

    <p>Negotiation Active: <%= @product_negotiation.active %></p>


  </div>

</div>
