// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    max-width: 100%;
    height: auto;
    display:block;
    width: auto\9; /* ie8 */
}

del {
  color: #BBB;
}

.btn {
  border-radius: 0 !important;
  margin-right: 20px;
  margin-bottom: 20px;
}

.products-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-wrapper {
  width: 25%;
  text-align: left;
  margin: 0 auto 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.product-image {
}

.product-description-wrapper {
  padding: 15px 10px 40px 10px;
  border-bottom: 1.6px dotted black;
  border-bottom-width: 0.08em;
}

.product-show-top {
  border-bottom: 1.6px dotted black;
  border-bottom-width: 0.08em;
}
.product-show-icons{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
